* {
    margin: 0px;
    padding: 0px;
}

.resume {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    grid-template-rows: 100px 1fr;
    border: 2px solid white;
    height: 1000px;
    min-width: 700px;
    box-shadow: 0 0 10px rgba(215, 107, 107, 0.1);
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}
.header h2 {
    align-self: center;
    font-size: 2.5rem;
}
.contact-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.resumeHeader {
    padding: 30px;
}
.resumeHeader h1 {
    text-align: center;
    background-color: var(--main-color);
}
