* {
    margin: 0px;
    padding: 0px;
}

.resume {
    background-color: var(--accent-color);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    grid-template-rows: 100px 1fr;
    border: 2px solid white;
    height: 1000px;
    min-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    flex-direction: column;
}
.contact-info {
    display: flex;
    gap: 2rem;
}
.resume h2 {
    align-self: center;
}
