.app {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.education,
.experience {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--accent-color);
}
.education button,
.experience button {
    border-style: none;
    border-bottom: 4px solid var(--main-color);
    color: var(--font-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: border-color 0.25s;
}
.sidemenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.topButton {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bottomButton {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
